html, body {
  height: 100%;
}

.header {
  position: fixed;
  top: 0;
  background-color: rgba(255,255,255,0.6);
  z-index: 10;
}

.logo {
  @apply .flex;
  @apply .items-center;
}

.header a, .header a:hover {
  @apply .text-grey-darkest;
  text-decoration: none;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(transparent 0%,rgba(0,0,0,.2) 50%,rgba(0,0,0,.2) 51%,rgba(0,0,0,.6) 100%);
}

.stage-container {
  @apply .mx-auto;
  z-index: 1;
}

.stage {
  @apply .flex;
  @apply .items-end;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.stage-2 {
  height: 10rem;
}

.stage-content {
  @apply .text-white;
  @apply .p-6;
  @apply .rounded-lg;
  padding-bottom: 3rem;
}

.stage-content h2 {
  @apply .text-white;
  @apply .text-2xl;
}

@media( min-width: 992px ) {
  .stage-content h2 {
    @apply .text-4xl;
  }
}

.stage-content a {
  color: #fff;
  transition: 0.3s;
}

.stage-content a:hover {
  @apply .text-grey-light;
}

.content {
  position: relative;
}

.stage-next {
  color: #fff;
  margin: 0 auto;
  padding: 2em;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background-color: rgba(0,0,0,0.6);
}

.anchor {
  display: block;
  height: 66px;
  margin-top: -66px;
  visibility: hidden;
}

footer {
  @apply .bg-grey-darkest;
  @apply .text-white;
  @apply .mx-auto;
  @apply .px-4;
  @apply .py-8;
  @apply .text-center
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}