body {
  @apply .font-sans;
  @apply .font-hairline;
  @apply .text-grey-darker;
}

h1, h2, h3, h4, h5, h6 {
  @apply .font-serif;
  @apply .font-normal;
}

.content p {
  @apply .leading-normal;
  @apply .pb-4;
  @apply .text-lg;
}